{% extends 'template.html.twig' %}

{% block title %}
	{{ Page_title }}
{% endblock %}

{% block headContent %}
	{% include "./components/headBanner.html.twig" %}
{% endblock %}

{% block main %}
	<h2 id="condTitle">CONDITIONS GÉNÉRALES D’UTILISATION DU SITE D’EVOLUTIV MADAGASCAR</h2>
	<div class="mainConteneur">
		<div class="">
			<h4>
				<i class="fa-solid fa-lightbulb fa-beat" style="--fa-animation-duration: 2s;"></i>
				PREAMBULE
			</h4>
			<p>
				Les présentes conditions générales d’utilisation ont pour objet d’encadrer juridiquement les modalités de mise à disposition des services du site www.evolutiv-online.com auprès de ses utilisateurs.Les utilisateurs désirant accéder au site doivent accepter les conditions générales d’utilisation.
				<br><br>
				<details>
					<summary>Voir plus</summary>
					<p>
						Elles constituent le contrat entre le Site et l’Utilisateur. En cas de non-acceptation des conditions stipulées dans le présent contrat, l’Utilisateur se doit de renoncer à l’accès au Site. EvolutiV se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes conditions générales d’utilisation. L'utilisateur est tenu de consulter régulièrement les conditions générales d’utilisation. En cas de désaccord avec les conditions imposées, l’utilisateur est prié de renoncer à l’utilisation du site.
					</p>
				</details>
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-circle-info fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>
				MENTIONS LÉGALES</h4>
			<p>
				L’édition du site EvolutiV est assurée par la société EvolutiV inscrite au RCS sous le numéro 2014 B 00312 , dont le siège social est localisé au VG 26 TER Antsahabe.
									L’hébergeur du site EvolutiV est la société Simafri Madagascar, Lot 95 Belle-Vue Ambatobe, 101 Antananarivo, Madagascar

			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-right-to-bracket fa-beat" style="--fa-animation-duration: 2s;"></i>
				ACCÈS AU SITE</h4>
			<p>
				Le Site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l’Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.<br><br>

				<details>
					<summary>Voir plus</summary>
					<p>
						Pour accéder aux formations, l'utilisateur doit s’inscrire et devenir Membre puis s’identifier sur le site, il bénéficiera des cours correspondant à sa demande.L’accès au site peut à tout moment faire l’objet d’une interruption, d’une suspension, d’une modification sans préavis pour une maintenance ou pour tout autre cas. L'utilisateur s’oblige à ne réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du présent contrat.
					</p>
				</details>
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-copyright fa-beat" style="--fa-animation-duration: 2s;"></i>
				PROPRIÉTÉ INTELLECTUELLE</h4>
			<p>
				Les marques, logos ainsi que les contenus du site EvolutiV (illustrations graphiques, textes…) sont protégés par le Code de la propriété intellectuelle et par le droit d’auteur.
									La reproduction et la copie des contenus par l'utilisateur requièrent une autorisation préalable du site. Dans ce cas, toute utilisation à des usages commerciaux ou à des fins publicitaires est proscrite.<br><br>
				<details>
					<summary>Voir plus</summary>
					<p>
						Les contenus des formations de nos partenaires sur le site EvolutiV sont protégés par le Code de la propriété intellectuelle et par le droit d’auteur. Ces formations seront régies sous leurs réglementations et leurs conditions générales d'utilisation.
					</p>
				</details>
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-users fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>
				COMPTE MEMBRE</h4>
			<p>
				Pour ouvrir un compte et devenir Membre, il est nécessaire de s’inscrire sur le site.
									Avant de pouvoir ouvrir un compte, l’utilisateur doit avoir lu et accepté les présentes conditions générales d’utilisation.
									L’utilisateur souhaitant ouvrir un compte s’engage à fournir des informations personnelles exactes et à les tenir à jour.
									EvolutiV a le droit de supprimer tout compte à la fin du cursus suivi.
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-comments fa-beat" style="--fa-animation-duration: 2s;"></i>
				PUBLICATION PAR L’UTILISATEUR</h4>
			<p>
				Le site EvolutiV permet aux membres de publier des commentaires.
									Dans ses publications, le membre est tenu de respecter les règles ainsi que les règles de droit en vigueur.<br>
				Le site dispose du droit d’exercer une modération à priori sur les publications et peut refuser leur mise en ligne sans avoir à fournir de justification.<br><br>

				<details>
					<summary>Voir plus</summary>
					<p>
						Le membre garde l’intégralité de ses droits de propriété intellectuelle. Toutefois, toute publication sur le site implique la délégation du droit non exclusif et gratuit à la société éditrice de représenter, reproduire, modifier, adapter, distribuer et diffuser la publication n’importe où et sur n’importe quel support pour la durée de la propriété intellectuelle. Cela peut se faire directement ou par l’intermédiaire d’un tiers autorisé. Cela concerne notamment le droit d’utilisation de la publication sur le web et sur les réseaux de téléphonie mobile.
												À chaque utilisation, l’éditeur s’engage à mentionner le nom du membre à proximité de la publication.<br><br>
						L'utilisateur est tenu responsable de tout contenu qu’il met en ligne. L’Utilisateur s’engage à ne pas publier de contenus susceptibles de porter atteinte aux intérêts de tierces personnes. Toutes procédures engagées en justice par un tiers lésé à l’encontre du site devront être prises en charge par l’Utilisateur.
												La suppression ou la modification par le site du contenu de l’utilisateur peut s’effectuer à tout moment, pour n’importe quelle raison et sans préavis.
					</p>
				</details>
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-file fa-beat" style="--fa-animation-duration: 2s;"></i>
				DONNÉES PERSONNELLES</h4>
			<p>
				Pour assurer ses membres, EvolutiV ne met pas en vente et garde en confidentialité leurs données personnelles.
									Les données personnelles collectées sur le site pendant l’inscription sont destinées à titre administratif.
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-circle-exclamation fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>
				RESPONSABILITE ET FORCE MAJEURE</h4>
			<p>
				Bien que les informations publiées sur le site soient réputées fiables, le site se réserve la faculté d’une non-garantie de la fiabilité des sources.
									Les informations diffusées sur le site EvolutiV sont présentées à titre purement informatif et sont sans valeur contractuelle.

				<details>
					<summary>Voir plus</summary>
					<p>
						En dépit des mises à jour régulières, la responsabilité du site ne peut être engagée en cas de modification des dispositions administratives et juridiques apparaissant après la publication. Il en est de même pour l’utilisation et l’interprétation des informations communiquées sur la plateforme.<br><br>
						Le site décline toute responsabilité concernant les éventuels virus pouvant infecter le matériel informatique de l'utilisateur après l’utilisation ou l’accès à ce site.
												Le site ne peut être tenu pour responsable en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.
												La garantie totale de la sécurité et la confidentialité des données n’est pas assurée par le site. Cependant, le site s’engage à mettre en œuvre toutes les méthodes requises pour le faire au mieux.
					</p>
				</details>
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-download fa-beat" style="--fa-animation-duration: 2s;"></i>
				FICHIERS TÉLÉCHARGEABLES</h4>
			<p>
				L'utilisateur est conscient qu’il télécharge les fichiers disponibles sur le Site à ses risques.
									Attention à la propriété intellectuelle.
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-code fa-beat" style="--fa-animation-duration: 2s;"></i>
				LIENS HYPERTEXTES</h4>
			<p>
				Le site peut être constitué de liens hypertextes. En cliquant sur ces derniers, l’Utilisateur sortira de la plateforme. Cette dernière n’a pas de contrôle et ne peut pas être tenue responsable du contenu des pages web relatives à ces liens.

			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-arrow-up fa-bounce" style=" --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; "></i>
				EVOLUTION DU CONTRAT</h4>
			<p>
				EvolutiV se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-stopwatch fa-shake"></i>
				DURÉE
			</h4>
			<p>
				Le présent contrat est valable pour une durée indéterminée. Le début de l’utilisation des services du site marque l’application du contrat à l’égard de l'utilisateur.
			</p>
		</div>

		<div class="">
			<h4>
				<i class="fa-solid fa-scale-balanced fa-beat" style="--fa-animation-duration: 2s;"></i>
				DROIT APPLICABLE ET JURIDICTION COMPETENTE</h4>
			<p>
				Le présent contrat est régi par la législation malagasy.
									Le for juridique exclusif est à Antananarivo, Madagascar.
									L’absence de résolution à l’amiable des cas de litige entre les parties implique le recours aux tribunaux MALGACHES compétents pour régler le contentieux.

			</p>
		</div>
	</div>
{% endblock %}
