{% extends 'template.html.twig' %}

{% block title %}
	{{ Page_title }}
{% endblock %}

{% block headContent %}
	{% include "./components/headBanner.html.twig" %}
{% endblock %}

{% block main %}
	<main class="contentBox" style="margin:2rem 0 ;">
		<div id="mainContent" style="padding: 2rem ;">
			<h2>MENTIONS LÉGALES DU SITE D’EVOLUTIV
			</h2>
			<p>
				<ul class="listMention">
					<li>
						<span class="underlineTitle">Dénomination de l’entreprise ou raison sociale :
						</span>CAV MADAGASCAR SARLU</li>
					<li>
						<span class="underlineTitle">Nom Commercial :</span>
						EVOLUTIV
					</li>
					<li>
						<span class="underlineTitle">Forme :</span>
						SARLU</li>
					<li>
						<span class="underlineTitle">Capital Social :</span>
						MGA 1 000 000
					</li>
					<li>
						<span class="underlineTitle">Adresse du siège social :</span>
						Lot III S 17 Anosibe
					</li>
					<li>
						<span class="underlineTitle">Adresse d’exploitation :</span>
						Lot VG 26 Ter Antsahabe</li>
					<li>
						<span class="underlineTitle">Numéro Registre du Commerce et des sociétés :</span>
						2014 B 00312
					</li>
					<li>
						<span class="underlineTitle">Numéro Statistique :</span>
						41001 11 2014 0 10344</li>
					<li>
						<span class="underlineTitle">Numéro d’Identification Fiscale :</span>
						6001585962
					</li>
					<li>
						<span class="underlineTitle">Nom de la dirigeante :</span>
						Madame ANDRIANASOLO Ony Tseheno Sitraka
					</li>
					<li>
						<span class="underlineTitle">Coordonnées téléphoniques :</span>
						+261 (0) 34 53 202 22 / +261 (0) 38 53 202 22
					</li>
					<li>
						<span class="underlineTitle">Adresse électronique :</span>
						direction@evolutiv-online.com / service@evolutiv-online.com
					</li>
				</ul>
			</p>
			<img src="images/10491.png" class="img_mention">
			<p>
				<h3>Coordonnées de l’hébergeur du site
				</h3>
				<ul class="listMention">
					<li>
						<span class="underlineTitle">Adresse :</span>
						Lot 95 Belle-Vue Ambatobe, 101 Antananarivo, Madagascar
					</li>
					<li>
						<span class="underlineTitle">Téléphone :</span>
						+261 32 58 283 07 / +261 34 55 193 98
					</li>
				</ul>
			</p>
		</div>

	</main>
{% endblock %}
