{% if pageCount > 1 %}
	<div class="pagination">

		{% for page in pagesInRange %}
			{% if page != current %}
				
					<a href="{{ path(route, query|merge({(pageParameterName): page})) }}#formation">
						<button>{{ page }}</button>
					</a>
				
			{% else %}
				<button class="current" style="background-color:#D01B4B; color:white">{{ page }}</button>
			{% endif %}
		{% endfor %}

		
	</div>
{% endif %}
