{{ form_start(form) }}
<div class="form">
	{{ form_widget(form.search) }}
	<button type="submit" class="form__button">
		<i class="fa-solid fa-magnifying-glass"></i>
	</button>
</div>
{{ form_end(form) }}
